{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}
{% load static %}
<link href="{% static 'survey/css/add_form.css' %}" rel="stylesheet">
<div class="form-wrapper">
  <div style="display:flex; flex-direction:row-reverse; font-weight:bold;font-size:1.2rem;text-align:right;padding:20px;">
    <p>
      أستمارة المسح الميداني</br>

      من خلال هذة الإستمارة يمكنك تسجيل الأسئلة الخاصة بالإستبيان
    </p>
  </div>

  <hr>

  <form method="post" action="/survey/gust_sr/">
    {% csrf_token %} 

    <table class="table" style="direction:rtl;">
                <thead>
                  <tr>
                    <th scope="col">الجهة المنفذة للإستبيان</th>
                    <th scope="col">مرضي</th>
                    <th scope="col">مرضي نوعاً ما</th>
                    <th scope="col">غير مرضي</th>
                    <th scope="col">لا أعلم</th>
                  </tr>
                </thead>
                <tbody>

    {% for field in form %}
   <!-- {{form.as_table}} -->
  <tr><td>
                     <div class="form-group">
      {% comment %} {{ field.label_tag }} {% endcomment %}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
    <td>
    <tr>            
  {% endfor %}

                </tbody>
              </table>
  {% comment %} {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %} {% endcomment %}
   </form>
</div>
{% endblock content %}